.d-mobile {
  display: block;
}

@media (min-width: 650px) {
  .d-mobile {
    display: none;
  }
}

@media (max-width: 649px) {
  .d-tablet {
    display: none;
  }

  .top-bottom-body-padding {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media (max-width: 999px) {
  .d-com {
    display: none;
  }
}
